* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

a {
  margin-left: 15px;
  color: black;
  text-decoration: none;
}

.cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(43, 161, 201);
  padding: 16px;
  height: 80px;
  font-size: 20px;
}

.cabecalho header {
  line-height: 80px;
}

.principal {
  display: flex;
  width: 100%;
}

.texto {
  width: 80%;
  padding: 16px;
}

.texto h1 {
  margin-bottom: 16px;
  margin-top: 16px;
}

.texto h2 {
  margin-bottom: 4px;
  margin-top: 4px;
}

.subtitulo h2 {
  margin-bottom: 8px;
}

.subtitulo p {
  margin-bottom: 8px;
}

.subtitulo a {
  color: blue;
  text-decoration: underline;
  margin-left: 0;
}

.paginas ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.paginas li a {
  color: blue;
}

.lateral {
  width: 20%;
  padding: 16px;
  background-color: rgb(18, 218, 134);
  list-style: none;
}

.lateral ul {
  list-style: none;
}

.lateral li::before {
  content: "-";
}

.rodape {
  text-align: center;
  background-color: orange;
  padding: 60px;
  font-size: 20px;
}
