body {
    font-family: Arial, sans-serif;
}

header {
    text-align: justify;
    font-size: 24px;
    font-weight: bold;
    margin: bottom 20px;
}

.cursos{
    font-size: 13px;
    color: blue;
}

.telematica {
    font-size: 13px;
    color: orange;
}

.computacao{
    font-style: italic;
    font-size: 13px;
    color: green;
}

.quimica{
    font-size: 13px;
    color: red;
}

.Aula{
    font-size: 21px;
    color: magenta;
}
