body{
    margin-left: 10%;
    margin-right:10%;
    margin-bottom: 2%;
}


a{
  margin: 3px;
  float:right;
}

.header{
    text-align: left ;
    background-color: #9AD8FF;
    padding: 2%;
}

.principal{
    padding-right: 2%;
    padding-left: 2%;
}

.subtitle{
    padding-right: 2%;
    padding-left: 2%;
}

.footer{
    text-align: center;
    background-color: orange;
    padding: 1%;
}
